matplotlib
scikit-image
trimesh
rtree
pytorch_lightning
kornia>0.4.0
chumpy
opencv-python
opencv_contrib_python
scikit-learn
protobuf
dataclasses
mediapipe
einops
boto3
open3d
xatlas
git+https://github.com/YuliangXiu/rembg.git
