--extra-index-url https://download.pytorch.org/whl/cu116
torch==1.13.1+cu116
torchvision==0.14.1+cu116
fvcore
iopath
pyembree
cupy-cuda11x
cython
matplotlib
scikit-image
trimesh
rtree
pytorch_lightning
kornia>0.4.0
chumpy
opencv-python
opencv_contrib_python
scikit-learn
protobuf
dataclasses
mediapipe
einops
boto3
open3d
xatlas
transformers
controlnet_aux
xformers==0.0.16
triton
git+https://github.com/YuliangXiu/rembg.git
git+https://github.com/huggingface/diffusers.git
git+https://github.com/huggingface/accelerate.git
