matplotlib
scikit-image
trimesh
rtree
pytorch_lightning
kornia>0.4.0
chumpy
opencv-python
opencv_contrib_python
scikit-learn
protobuf
pymeshlab
dataclasses
mediapipe
einops
boto3
tinyobjloader==2.0.0rc7
git+https://github.com/facebookresearch/pytorch3d.git
git+https://github.com/YuliangXiu/neural_voxelization_layer.git
git+https://github.com/YuliangXiu/rembg.git
